$main-bg: #ececec;
$blue-search: #c4ece4;
$blue-btn: #80dfce;

$b-radius: 25px;

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-none {
  border: none;
  border-radius: $b-radius;
}

.form-input {
  height: 30px;
  border-radius: $b-radius;
  padding: 0 0.5rem;
}
